.banner{
  width: 100%;
  height: 100vh;
  background: url('/src/img/bn.webp')no-repeat top / cover;
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
}
.banner h2{
  font-family: "Pirata One", system-ui;
  font-size: 6rem;
}
