.contato{
  width: 100%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contato form{
  width: 60%;
  background:rgba(0,0,0,0.5);
  display: flex;
  padding: 2rem;
  margin: 2rem;
  flex-direction: column;
  font-size: 1.5rem;
}
.contato form input{
  padding: 10px;
}
.contato form textarea{
  height: 80px;
}
.contato .btn{
  background: #060606;
  border: none;
  margin-top: 1rem;
  color: #fff;
  font-weight:400;
  font-family: "Pirata One", system-ui;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.redes{
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.redes a{
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: #fff;
  text-transform: capitalize;
  font-style: italic;
}
.redes img{
 width: 50px;
}
.local{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
iframe{
  background: #000;
  width: 50%;
  height: 300px;
  padding: .5rem;
}
@media screen and (max-width: 768px){
  .redes a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin: 1rem;
    color: #fff;
    text-transform: capitalize;
    font-style: italic;
  }
  .contato form{
  width: 80%;
  background:rgba(0,0,0,0.5);
  display: flex;
  padding: 2rem;
  margin: 2rem;
  flex-direction: column;
  font-size: 1.5rem;
}
iframe{
  background: #000;
  width: 80%;
  height: 300px;
  padding: .5rem;
}
}

