.contato{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contato form{
  width: 60%;
  background:rgba(0,0,0,0.5);
  display: flex;
  padding: 2rem;
  margin: 2rem;
  flex-direction: column;
  font-size: 1.5rem;
}
.contato form input{
  padding: 10px;
}
.contato form textarea{
  height: 80px;
}
.contato .btn{
  background: #060606;
  border: none;
  margin-top: 1rem;
  color: #fff;
  font-weight:400;
  font-family: "Pirata One", system-ui;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.mapa{

  
}
@media screen and (max-width: 768px){
  .mapa{
   
  }
  .contato form{
  width: 80%;
  background:rgba(0,0,0,0.5);
  display: flex;
  padding: 2rem;
  margin: 2rem;
  flex-direction: column;
  font-size: 1.5rem;
}
  
}

